.quantity {
  text-align: center;
  border: 1px solid grey;
  height: fit-content;
  padding: 0.1em;
  color: white;
  border-radius: 5px;
  width: 3.5em;
  background-color: transparent;
  box-shadow: 1px 1px grey;
  cursor: pointer;
}
.plus-minus {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 0.5em;
}
.add {
  font-size: 0.5em;
}
