.cart {
  color: aliceblue;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.cart-num {
  background-color: white;
  color: black;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bolder;
}
.unit-value {
  color: white;
  font-size: 1em;
  font-weight: bolder;
}
.cart-unit {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-content {
  padding: 10px;
  background-color: black;
  border: 2px solid white;
  height: 100%;
  font-size: 30px;
}

.cart-btn {
  height: fit-content;
  width: 15%;
  background-color: rgb(199, 195, 195);
  margin: 1em;
  font-family: monospace;
  font-weight: bolder;
  font-size: 0.5em;
}
.total-sum {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: white;
  font-size: 0.8em;
}
.checkout {
  height: fit-content;
  width: fit-content;
  background-color: rgb(199, 195, 195);
  margin: 1em;
  font-family: monospace;
  font-weight: bolder;
  font-size: 0.7em;
  margin-left: auto;
  text-align: center;
  padding: 0.5em;
}
.cartContent {
  position: fixed;
  z-index: 2;
  top: 0;
  right: -100vw; /* Initially hidden on the right */
  width:100vw;
  height: 100%;
  opacity: 0; /* Initially transparent */
  transform: translateX(20px); /* Slightly off-screen to the right */
  transition: all 0.3s ease; /* Add smooth transition */
}

.cartContent.active {
  right:0; /* Slide in from the right */
  opacity: 1; /* Fade in */
  transform: translateX(0); /* Reset position */
}
.icon{
  cursor: pointer;
}
@media (max-width: 500px) {
  .cart-content {
    font-size: 20px;
  }
}
