* {
  box-sizing: border-box;
}
.cart {
  display: flex;
  width: 90%;
  background-color: brown;
  border-radius: 20px;
  margin: 5px;
  justify-content: space-evenly;
  align-items: center;
}
.unit-value {
  color: white;
  font-size: large;
  font-weight: bolder;
}
.cart-unit {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-items {
  background-color: rgb(130, 4, 4);
  font-weight: 900;
  width: 25%;
  height: 25%;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
}
.cart-content {
  background-color: black;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 50%;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
