* {
  box-sizing: border-box;
}
.quantity {
  background-color: red;
  height: fit-content;
  width: 5%;
}
.plus-minus {
  display: flex;
  justify-content: space-around;
  background-color: red;
  height: fit-content;
  width: 5%;
}
