* {
  box-sizing: border-box;
}
.quantity {
  text-align: center;
  border: 1px solid red;
  height: fit-content;
  width: 15%;
  padding: 10px;
  color: inherit;
  border-radius: 5px;
}
.plus-minus {
  display: flex;
  justify-content: space-between;
}
