* {
  box-sizing: border-box;
}
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  font-size: 30px;
}

.menu {
  background: transparent;
  border-radius: 10px;
  border: 0.3em solid white;
  padding: 0.3em;
  width: 80%;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  height: 60%;
}
.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 0.5em;
  width: 50%;
  height: 40%;
}
.res-heading {
  margin: 0;
  border: 1px solid white;
  letter-spacing: 2px;
  color: aliceblue;
  font-family: serif;
  font-size: 1em;
  font-weight: 100;
}
.des-para {
  font-family: cursive;
  color: aliceblue;
  font-style: italic;
  font-weight: lighter;
  font-size: 0.5em;
}
@media (max-width: 500px) {
  .main-page {
    font-size: 20px;
  }
}
