* {
  box-sizing: border-box;
}
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.menu {
  background: transparent;
  border-radius: 10px;
  border: 10px solid white;
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 60%;
}
.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  width: 50%;
  height: 40%;
}
.res-heading {
  margin: 0;
  border: 1px solid white;
  letter-spacing: 2px;
  color: aliceblue;
  font-family: serif;
  font-size: 200%;
  font-weight: 100;
}
.des-para {
  font-family: cursive;
  color: aliceblue;
  font-style: italic;
  font-weight: lighter;
}
