* {
  box-sizing: border-box;
}
.item-container {
  border-bottom: 2px dotted black;
  display: flex;
  justify-content: space-around;
  color: inherit;
  width: 90%;
  padding: 5px;
}
.item-name {
  font-weight: bolder;
  font-family: sans-serif;
  color: inherit;
}
.item-des {
  font-family: cursive;
  color: inherit;
}
.item-price {
  font-weight: bolder;
  color: brown;
}
.add-btn {
  width: 25%;
}
