* {
  box-sizing: border-box;
}
.item-container {
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: space-around;
}
.item-name {
  font-weight: bolder;
  color: black;
  font-family: sans-serif;
}
.item-des {
  font-family: cursive;
}
.item-price {
  font-weight: bolder;
  color: brown;
}
