.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
  background-color: rgb(130, 4, 4);
  width: 100%;
}

.heading {
  width: 50%;
  font-size: 0.5em;
}
.cart-logo {
  width: 30%;
  font-size: 0.7rem;
}
