.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  color: white;
  width: 100%;
  height: fit-content;
}
.nav-left,
.nav-right {
  display: flex;
  width: fit-content;
  justify-content: space-around;
  overflow-block: auto;
  font-size: 1rem;
}
.menu-heading,
.home-heading {
  font-family: fantasy;
  padding: 0.5rem;
}
.link {
  text-decoration: none;
  color: white;
}
.loader {
  position: fixed;
  z-index: 2;
  background-color: rgb(233, 162, 20);
  top: -60px; /* Start offscreen */
  right: 0;
  width: 100vw;
  height: 60px;
  opacity: 0;
  transition: top 0.1s ease, opacity 0.1s ease; 
}

.loader.active {
  top: 0; /* Slide in from the top */
  opacity: 1;
}
@media (max-width: 500px) {
  .nav-left,
  .nav-right {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    font-size: 0.8rem;
  }
}
